body {
  margin: 0;
  padding: 0;
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: var(--color-white);
}

li {
  list-style: none;
}

.container_app {
  display: flex;
  overflow: hidden;
}

:root{
  --color-red: #EB455F;
  --color-white: #FCFFE7;
  --color-blue: #2B3467;
  --color-light-blue: #BAD7E9;
}

.button_success{
  background-color: var(--color-blue);
  color: var(--color-white);
}

.button_success:hover{
  background-color: var(--color-red);
  color: var(--color-white);
}
